<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/img/logo.svg">
        </a>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1>Publishing at the speed of technology</h1>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    Gerald Nnebe
                </div>
                <div class="navbar-dropdown">
                    Dropdown content
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                    James Blunt
                </div>
                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <div>
                            <span class="icon is-small">
                                <i class="fa fa-user-circle-o"></i>
                            </span>
                            Profile
                        </div>
                    </a>
                    <a class="navbar-item">
                        <div>
                            <span class="icon is-small">
                                <i class="fa fa-bug"></i>
                            </span>
                            Report bug
                        </div>
                    </a>
                    <a class="navbar-item">
                        <div>
                            <span class="icon is-small">
                                <i class="fa fa-sign-out"></i>
                            </span>
                            Sign Out
                        </div>
                    </a>
                </div>
            </div>
            <div class="navbar-item">Tim Sweeney</div>
        </div>

    </div>

</nav>

<header class="bold">
    <h1>My Site!</h1>
</header>