<img src="assets/img/footer.svg" style="width: 100%; margin-bottom: 3rem;" alt="">

<div class="container" class="has-text-left" style="margin: 1rem;">
    <div class="has-text-centered">
        <h2 class="title is-2 section--underline-bottom">Contact</h2>
        <div class="section--underline"></div>
    </div>
    <div class="has-text-centered">Is there anything we can both work on? Or have any questions?</div>

    <div class="columns is-centered" style="margin-top: 1em;">
        <div class="column is-6-tablet is-4-desktop">
            <form class="">

                <fieldset name="message" class="field">
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <div class="control has-icons-left">
                            <input class="input" type="text" name="name" placeholder="Your name">
                            <span class="icon is-small is-left">
                                <i class="fa fa-user-circle"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="email">Email</label>
                        <div class="control has-icons-left">
                            <!-- <div class="control has-icons-left has-icons-right"></div> -->
                            <input class="input" type="email" name="email" placeholder="your@email.com" />
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <!-- <span class="icon is-small is-right">
                                <i class="fa fa-exclamation-triangle"></i>
                            </span> -->
                        </div>
                        <!-- <p class="help is-danger">This email is invalid</p> -->
                    </div>

                    <div class="field">
                        <label class="label" for="message">Message</label>
                        <div class="control">
                            <textarea class="textarea" name="message" placeholder="Tell me something..."></textarea>
                        </div>
                    </div>
                </fieldset>

                <div class="field">
                    <div class="control">
                        <button class="button is-link is-pulled-right">Send!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ground">
    <div class="container is-mobile has-text-centered">
        <div class="level">
            <div class="level-item has-text-centered">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-facebook"></i>
            </div>
        </div>
        GERALD NNEBE (c) 2020
    </div>
</div>