@import "../../assets/scss/variables";

.landing-view-work-button {
    background-color: transparent;
    border: 3px solid white;
    width: 20%;
    min-width: 15em !important;
    padding: 1em 2em;
    cursor: pointer;
    color: findColorInvert($primary);
}

$profile-img-border: 1rem;
$profile-img-width: 480px;

.landing-profile-picture {
    padding: 5px;
    border-radius: $profile-img-border;
    max-width: $profile-img-width;
}

.landing-profile-picture img,
.landing-skill-section img {
    border-radius: $profile-img-border;
    max-width: $profile-img-width;
    padding: 1em;
}

@media (min-width: 1024 / 16 * 1em) {
    .landing-about {
        padding-left: 5em;
        padding-right: 5em;
    }

    div.columns {
        justify-content: space-around;
    }
}

.hero-body {
    position: relative;
}

.hero-art {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$projects-background-color: white;
$projects-border-radius: 1rem;

.projects,
.projects .column {
    margin: 0.5em;
}

@media (min-width: $tablet) {
    .projects {
        margin-bottom: 2em;
    }
}

.make-relative {
    position: relative;
}

.zoom {
    transition: all 0.2s ease-out;
}

.zoom:hover {
    transform: scale(1.05);
}

.projects .card {
    background-color: $projects-background-color;
    border-radius: $projects-border-radius;
    padding: 0 0.4em;
}

.projects .card-image {
    z-index: 1;
}

.three {
    box-shadow: 0.5em 0.5em 20px rgba($color: #000000, $alpha: 0.4);
    transform: perspective(1100px) rotate3d(0, 1, 0, 45deg);
    backface-visibility: hidden;
}

.rod {
    padding: 0;
}

.rod--up {
    margin-bottom: -5px;
}

.rod--down {
    margin-top: -5px;
}

$border-thickness: 5px;

.projects__border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: $border-thickness solid $highlight-color;
    border-radius: $projects-border-radius;
    background-color: transparent;
}

.projects__cut {
    position: absolute;
    top: $border-thickness - 1;
    bottom: $border-thickness - 1;
    left: 0;
    right: 0;
    background-color: $projects-background-color;
    border-radius: $projects-border-radius;
}

.skill--prep-ainmate {
    transform: translate(-120%);
    transition: all 0.5s cubic-bezier(0.2, 0.9, 0.3, 1.15);
}

.skill--animate {
    transform: translate(0);
}