@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "assets/scss/variables";

@import "node_modules/bulma/bulma";

.box {
    border: 3px solid $highlight-color;
    background-color: transparent;
}

.navbar {
    border-bottom: 10px solid darken($subtle-color, 4);
    background-color: darken($primary, 2);
}

@media (min-width: 1024 / 16 * 1em) {
    .navbar {
        border-bottom: 10px solid $subtle-color;
    }
}

.navbar-burger {
    color: findColorInvert($primary);
}

.navbar-item {
    color: findColorInvert($primary);
}

@media (min-width: 1024 / 16 * 1em) {
    .navbar-item {
        transition: all 0.5s ease-out;
    }
}

a.navbar-item:hover {
    background-color: $buccaneer;
    color: findColorInvert($buccaneer);
}

@media (min-width: 1024 / 16 * 1em) {
    .navbar-menu .navbar-item {
        margin-left: 3em;
    }
}

@media (max-width: 1024 / 16 * 1em) {
    .navbar-menu {
        background-color: $subtle-color;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.section {
    padding-top: 6em;
    padding-bottom: 6em;
}

.section:nth-child(even) {
    // For stripes
    background-color: $white-ter;
}

.section--underline-bottom {
    text-transform: uppercase;
    margin-bottom: -2px;
}

.section--underline {
    display: inline-block;
    background-color: $link;
    max-width: 100px;
    width: 30%;
    height: 5px;
    margin-bottom: 2em;
}