<div class="navbar-brand">
    <!-- Logo, tagline, and navbar-burger -->
    <a class="navbar-item">
        <img src="assets/img/logo.svg">
    </a>
    <div class="navbar-burger" [class.is-active]="isMobileNavActive" (click)="onBurgerClicked()">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>

<div class="navbar-menu" [class.is-active]="isMobileNavActive">
    <!-- User name, dropdown menu -->
    <div class="navbar-start">
        <a class="navbar-item" href="#">
            Home
        </a>
        <a class="navbar-item" href="#">
            About
        </a>
        <a class="navbar-item" href="#">
            What Can I Do ?
        </a>
        <a class="navbar-item" href="#">
            Projects
        </a>
        <a class="navbar-item" href="#">
            Contact
        </a>
    </div>
    <!-- <div class="navbar-end">
        <div class="buttons">
            <a class="button is-light">
                Log in
            </a>
        </div>
    </div> -->
</div>